<md-card class="login-card" fxLayout="column" fxLayoutAlign="center center">
  <md-card-content>
    <div fxLayout="row" fxLayoutAlign="start center">
      <md-icon class="material-icons color md-48 login-icon-padding">account_circle</md-icon>
      <md-input-container>
        <input mdInput type="text" [(ngModel)]="uid" placeholder="Username">
      </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <md-icon class="material-icons color md-48 login-icon-padding">lock</md-icon>
      <md-input-container>
        <input mdInput type="password" [(ngModel)]="pwd" placeholder="Password">
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <button md-mini (click)="login()">
      <md-icon>check_circle</md-icon>
    </button>
  </md-card-actions>
</md-card>
