.login {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.title {
  text-align: center;
}

.login-card {
  width: 400px;
  height: 300px;
}

.login-icon-padding{
  padding-right: 20px;
}
