<h3>
  {{title}}
</h3>
<!--
<app-contact-dialog></app-contact-dialog>
-->
<div fxL>
  <div fxLayout.xs="column" fxLayoutAlign="space-between center">
    <app-contact-list [contacts]="contacts" (editContact)="editContact($event)" (removeContact)="removeContact($event)" (showContactOnMap)="showContactOnMap($event)">
      Loading...
    </app-contact-list>

  </div>

  <div fxLayoutAlign="center">
    <br/>
    <button md-mini (click)="addContact()">
      <md-icon>add_circle</md-icon>
    </button>
  </div>
</div>
