<md-card class="card">
  <md-card-content layout-align="left" class="card-header">
    <dl>
      <b>
        <dt>{{contact.firstName}}</dt>
        <dt>{{contact.lastName}}</dt>
      </b>
    </dl>
  </md-card-content>
  <md-card-content>
    <dl>
      <dt>{{contact.phone}}</dt>
      <dt>{{contact.streetAddress}}</dt>
      <dt>{{contact.city}}</dt>
    </dl>
  </md-card-content>
  <md-card-actions fxLayout="row" fxLayoutAlign="space-between end">
    <button md-mini (click)="editContact()">
      <md-icon>create</md-icon>
    </button>
    <button md-mini (click)="removeContact()">
      <md-icon>delete_forever</md-icon>
    </button>
    <button md-mini (click)="showContactOnMap()">
      <md-icon>place</md-icon>
    </button>
  </md-card-actions>

</md-card>
