  <div md-dialog-title>
    {{titleText}}
  </div>
  <md-dialog-content>
    <md-card-content>
      <dl>
        <b>
        <dt>{{contact.firstName}}</dt>
        <dt>{{contact.lastName}}</dt>
        </b>
        <dt>{{contact.phone}}</dt>
        <dt>{{contact.streetAddress}}</dt>
        <dt>{{contact.city}}</dt>
      </dl>
    </md-card-content>
  </md-dialog-content>
  <md-dialog-actions fxLayoutAlign="space-around end">
    <button md-mini (click)="delete()">
      <md-icon>delete</md-icon>
    </button>
    <button md-mini (click)="cancel()">
      <md-icon>cancel</md-icon>
    </button>
  </md-dialog-actions>

